/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;

}
nav{
	position:fixed;
	width: 100%;
	z-index: 1000;
}
ul{
	list-style: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #E54E79;
	
}
ul li {
	display: inline-block;
	float:right;
	margin-right:60px;

}
ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 23px;
	text-decoration: none;
	font-weight: bold;
}
#logo{
	margin-left: 232px;
    margin-top: 13px;
}
.uno{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    background-size: 100%;
    height: 100vh;
    background-attachment: fixed;

}
.money{
	background-color: #EDE9E2;
    width: 510px;
    height: 400px;
    position: absolute;
    left: 839px;
    top: 211px;
}
#turn{
	color: #00B2A9;
    position: absolute;
    font-weight: 700;
    top: 50px;
    left: 50px;
}
#sing{
	color:#75726C;
	position: absolute;
	font-weight: 400;
	top: 90px;
    left: 50px;
}
.group{ 
	position: absolute;
    left: 49px;
    top: 145px; 
}
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:427px;
  border:none;
  border-bottom:1px solid #757575;
  background-color:#EDE9E2;;
}
input:focus{ 
	outline:none; 
}

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#75726C;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
#boton{
	background-color: #E56385;
    border-radius: 10px;
    color: #EDE9E2;
    width: 200px;
    height: 45px;
    position: absolute;
    top: 204px;
    left: 48px;
    font-size: 15px;
}
#applied{
	position: absolute;
    top: 263px;
    left: 50px;
}
#earn{
	position: absolute;
    top: 307px;
    left: 50px;
}
.play{
	background-color: #00B2A9;
	background-size: 100%;
    height: 100vh;
}
.footer{
	background-color: #75726C;
	width: 100%;
	height: 20%;
}
#fly{
	background-color: #EDE9E2;
    width: 100%;
    height: 84px;
    top: 70px;
    position: relative;
    color:#75726C;
}
#title{
	font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 36px;
    top: 21px;
}
#fondo{
	width: 84%;
    height: 50%;
    background-color: #EDE9E2;
    left: 97px;
    top: 137px;
    position: relative;
}
#start{
	background-color: #00B2A9;
    border-radius: 10px;
    color: #EDE9E2;
    width: 352px;
    height: 45px;
    top: 220px;
    position: absolute;

}
